.currency-switcher {
    select {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
    }
}

#dark-theme .currency-switcher {
    select {
        color: var(--color-secondary);
    }
}