/********* Define Variables *********/
$zindex: 5, 10, 15, 20;
$margin: 0, 5, 10, 20, 30, 50, 100;
$padding: 0, 5, 10, 20, 30, 40, 50, 100;
$gap: 0, 5, 10, 20, 30, 50;
$vgap: 0, 5, 10, 20, 30, 50;
$default-screen-width: 100%;
$width: 20, 25, 30, 35, 40, 45,50, 60, 65, 75, 100;
/* ********* Define Font Scale *********/
$ss: 0.7;
/* ********* Define Font Scale *********/
$fs: 0.9;

/* ********* Define Site Gutters *********/
$site-width-margin: 35; /* Desktop Left / Right Gutter */
$m-site-width-margin: 30; /* Mobile Left / Right Gutter */

/* ---- Responsive Styles ---- */
@import "screen-size";
@import "../_mixins/responsive-units";
@import "../_mixins/responsive-sizes";

/* ---- Mixins ---- */
@import "../_mixins/transitions-mixin";

/* ---- Colours, Fonts, Icons ---- */
@import "colours"; /* Define all colours here */
@import "fonts"; /* Define all fonts here */

/* ---- Styles ---- */
@import "site-wdith";
@import "icons";
@import "position";
@import "padding";
@import "margin";
@import "text-align";
@import "flex";
@import "display";
@import "z-index";
@import "gap";
@import "v-gap";
@import "width";
@import "dark-theme";

/* ---- */
@import "reset";