.card {
    border: 1px solid var(--color-primary);
    padding: 20px 15px;
    border-radius: 10px;

    .card-header {
        .icon-card {
            position: relative;
            @extend .fs-20;
            @include rs('margin-top', $fs, 5);
        }
        .card-amounts {
            align-items: baseline;
            cursor: pointer;

            .max-amount {
                opacity: 0.8;
            }
        }
    }
}